<!-- Rendered by command.py -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- JS -->
  <script src = "{% static 'js/command.js' %}"></script>

  <h4>Client current action</h4>

  {% for client in clients %}
    <div id = 'commands' class = 'commandsDiv' style = 'margin-bottom: 10px'>

      <table id = '{{ client.name }}CommandsTable'>
        <tr>
          <th class = 'td'>{{ client.name }}</th>
        </tr>

        {% for command in client.command_set.all %}

        <tr>
          <td>
            <a id = '{{ client.name }}{{ command.name }}Button' href = '/command/{{ client.name }}/{{ command.name }}' class = 'button'>
              {{ command.name }}
            </a>
          </td>
        </tr>

        {% endfor %}

      </table>
    </div>

    <script type='text/javascript'>
        var address = '{{ client.name }}{{ client.current_command }}' + 'Button';
        $( '#' + address ).css('background-color', 'grey')
    </script>

  {% endfor %}

{% endblock content %}
