{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <!-- JS -->
  <script src = "{% static 'js/data_clients.js' %}"></script>

  <h4>Client data</h4>

  {% for client in clients %}

  <div id = 'clients' style = 'margin-bottom: 10px'>
    <a id = '{{ client.name }}Client' href = '{{ client.name }}' class = 'button'>
      {{ client.name }}
    </a>
  </div>

  {% endfor %}

  <div id = 'dataBox'>
  </div>

  <div>
    <table id = 'chartTableDistance' class = 'chartTable'>
    </table>
    <table id = 'chartTableTally' class = 'chartTable'>
    </table>
  </div>

{% endblock content %}
